Employee Retirement Predictor

Life Cycle of this Machine Learning Project

- Understanding the problem statement
- Data Collection
- Data check
- Exploratory Data Analysis
- Data Pre-processing
- Model training
- Choose best model

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
from urllib.parse import quote_plus
import os
 
load_dotenv()
 
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_HOST = os.getenv('DB_HOST')
DB_PORT = os.getenv('DB_PORT')
DB_NAME = os.getenv('DB_NAME')
 
# Safely encode password
encoded_password = quote_plus(DB_PASSWORD)
 
connection_string = f'postgresql+psycopg2://{DB_USER}:{encoded_password}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
engine = create_engine(connection_string)
 
df = pd.read_sql("SELECT * FROM nddcstaff", con=engine)

In [3]:
df.head(2)

,id,name,age,stateoforigin,lga,department,salary,employmentdate,description,email
0,1,John Elsie,52,Akwa Ibom,Essien Udim,Planning,188034.31,2009-02-10,Engineer,emeka.emeka@nddc.gov.ng
1,2,Ahmed Ike,39,Bayelsa,Southern Ijaw,Engineering,103096.36,2024-03-26,Planner,chinedu.emeka@nddc.gov.ng